@model WebApplication2.Database.don_nhap_hang
@{
    ViewBag.Title = "chi_tiet_dnh";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>don_nhap_hang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.stt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_hoa_don_nhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_hoa_don_nhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_nsx)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_nsx)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_chu_kho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_chu_kho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngay_nhap_hang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngay_nhap_hang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_cua_hang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_cua_hang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tong_tien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tong_tien)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>

